* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  background-color: floralwhite;
  font-family: Lato;
}

body, html {
  font-family: Lato;
  line-height: 1.5;
  color: black;
}

.grid {
  line-height: 1.5em;
  max-width: 100%; 
  margin: 0 auto;
}

.row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  background: floralwhite;
}

.category, .item {
  padding: 1em;
}

.category {
  border-right: 1px solid #d7ccc8;
  margin: 10px 20px 10px 20px;
  font-weight: 100;
  text-align: center;
}

.item {
  font-weight: 200;
  margin:10px;
  text-align: center;
}

.form-item {
  font-weight: 100;
  padding: 30px;
  text-align: center;
}

.banner {
  background: url(Images/banner3.jpg) 0 0;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  padding: 180px;
}

#logo{
  font-size: 55px;
  text-align: center;
  color: floralwhite;
  opacity: 0.85;
  font-weight: 200;
  line-height: 0.8;

}

.button-background {
 font-size: 18px;
 padding:15px;
 width: 16%;
 display: inline-block;
 background: black;
 opacity: 0.8;
 font-weight: 100;
 color: floralwhite;
}

.middle {
  background-color: floralwhite;

}

h1 { 
    font-size: 55px;
    margin: 10px;
    padding: 0;
    font-weight: 300;
}

h2 {
    font-size: 30px;
    margin: 0;
    padding: 0;
    font-weight: 100;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Lato;
  margin: 0.5em 0;
}


a {
  color: black;
  font-weight: 200;
  text-decoration: none;
}

button > a {
  color: black;
}

a:hover, button:hover {
  font-weight:300;
}

textarea {
  width: 70%;
  height: 20em;
  white-space: pre-line;
  background: floralwhite;
}

.flash {
  color: blue;
}

#signinButton {
  margin: 0 auto;
}

.footnote {
  background: black;
  opacity: 0.9;
  padding: 15px;
  text-align: center;
  color: floralwhite;
  -webkit-font-smoothing:antialiased;
}

#submit {
  background: black;
  padding:10px 15px 10px 15px;
  color: floralwhite;
  border: black;
  opacity: 0.8;
}
i.fa-heart{
  color:#F8230C;
}
