{% extends 'base.html' %}

{% block add_or_edit_ingredient %}
<div class="banner">
  <div class="form-item">
  {% set header = 'SEARCH RECIPES' %}

    <h2 style="font-weight:100;color: floralwhite;">{{ header }}</h2>
    <form method='post'>
      {{ form.csrf_token }}
      {{ form.ingredients.label }}:<br>{{ form.ingredients() }}<br><br>

      <button type="button" style="background:black;padding:10px 15px 10px 15px;border:black;opacity:0.8;"><a href='{{ url_for('homepage') }}' style="color:floralwhite;">Cancel</a></button>
      {{ form.submit }}
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            <br>
            <span class='flash'>{{ message }}</span>
          {% endfor %}
        {% endif %}
      {% endwith %}
    </form>
  </div>
</div>
{% endblock %}
