{% extends 'base.html' %}

{% block homepage %}
<section class="banner">
  <div id="logo">
    <h1>MinuteMenu</h1>
    <h2>Create Your On-The-Go Menu | Faster and Easier</h2>
    <!-- <div class="button-background" -->
      <a href='{{ url_for('query_for_recipe') }}' class="button-background">Find A Recipe</a>
    <!-- </div> -->


  </div>
</section>

<section class="middle">
  <div class="row">
    <div class="category">
      <!-- <a href='{{ url_for('homepage') }}' class="special">Home</a> -->
      <h2>People's Choices</h2>
      {% for recipe in recipes %}
         <a href='{{ url_for('ingredients_of_recipe', recipe_name=recipe.name) }}'>{{ recipe.name }}</a>
        <br>
      {% endfor %}
    </div>
    {% block ingredients_of_recipe %}
    {% endblock %}
  </div>
</section>

<section class="footnote">
    Created with <i class="fa fa-heart fa-outline"></i> by Team Sapiens
</section>

{% endblock %}
