<!DOCTYPE html>
{% extends 'base.html' %}

{% block prompt %}
<section class="banner">
  <section class="prompt">
    <h1>RECIPES</h1>
    <br>
      {% if recipe_list %}
      <section class="no-lack">
        <h2>Recipes that You Are Ready For</h2>
      {% endif %}
          {% for recipe in recipe_list %}
            <a href='{{ url_for('ingredients_of_recipe', recipe_name=recipe) }}'>{{ recipe }}</a>
            <br>
          {% endfor %}
    </section>
    <br>
    <section class="lack">
      <h2>Recipes that Need More Ingredients</h2>
      <table class="table">
        <tr class="header">
          <th style="font-weight:300;">Recipe</th>
          <th style="font-weight:300;">Missing Ingredients</th>
        </tr>
        {% for key,value in incomplete_recipe_list.iteritems() %}
        <tr>       
          <td>
            <a href='{{ url_for('ingredients_of_recipe', recipe_name=recipe) }}'>{{ key }}</a>
          </td>
          <td>
             {% for missing_ingredient in value %}
         		{{ missing_ingredient }}
         		 <br>
       	 {% endfor %}
          </td>
        </tr>
        {% endfor %}
      </table>
    </section>
  </section>
</section>
{% endblock %}
